.reveal-modal.small{id: "modal-#{user.id}"}
  = form_for user, url: user_path(user), html: {method: :put} do |f|
    %p.lead Change Role
    = collection_select :user, :role_ids, Role.all, :id, :name, checked: user.role_ids.first
    = f.submit "Change Role", :class => "button tiny"
    %a.close-reveal-modal ×