%h2= @project.name
%table
  %th Developer name
  %th Date
  %th Hours
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.time_entries.first.date
      %td= user.time_entries.first.hours