- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{ class: "alert-box #{name} radius", "data-alert" => "", style: "margin: 0 20% 0 20%;"}
      %a.close{ href: ""} ×
      = content_tag :div, msg #:id => "flash_#{name}"

